@font-face {
    font-family: Proggy;
    src: url("../fonts/ProggyVector-Regular.ttf");
}

/* yan2 se4 jian4 bian4, class="smooth-color" */
.smooth-color {
  animation: hueRotate 5s linear infinite;
}

@keyframes hueRotate {
  0% { color: rgb(255, 0, 0); } /* 红色 */
  25% { color: rgb(0, 255, 0); } /* 绿色 */
  50% { color: rgb(0, 0, 255); } /* 蓝色 */
  75% { color: rgb(255, 255, 0); } /* 黄色 */
  100% { color: rgb(255, 0, 255); } /* 紫色 */
}

/* Ende */

.title {
  font-family: Proggy;
  text-align: center;
}

#tcpp {
  font-size: 30px;
  font-weight: bold;
}

.helloworld code { 
  max-width: 300px;
}
