@font-face {
    font-family: Proggy;
    src: url("../fonts/ProggyVector-Regular.ttf");
}

.title {
  font-family: Proggy;
  text-align: center;
}

#tcpp {
  font-size: 30px;
  font-weight: bold;
}

.helloworld code { 
  max-width: 300px;
}
